html,
body {
  margin: 0;
  padding: 0;
  background:#66AEDA;
  overflow: hidden;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: white;
}

#root {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.title {
  position: absolute;
  width: 90px;
  height: 90px;
  top: 10%;
  left: 10%;
  padding: 0;
  margin: 40px;
  font-size: 5em;
  line-height: 0.7em;
  letter-spacing: -6px;
  color: #272730;
  display: flex;
}

button {
  font-size: 1em;
  border: none;
  background: none;
  color: #272730;
  cursor: pointer;
}

canvas {
  position: absolute;
}

.loading {
  padding: 10px;
  font-weight: 900;
  font-size: 3em;
  transform: translate3d(-50%, -50%, 0);
}

.content {
  padding-top: 10px;
  transform: translate3d(10%, 0, 0);
  text-align: right;
}

.content::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 190px;
  transform: translate3d(-120px, 0, 0);
  height: 1px;
  background: white;
}

.menu-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-trigger {
  background: #ffffff;
  border-radius: 90px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 6px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  border: none;
  vertical-align: middle;
  transition: box-shadow 0.4s ease;
  margin-left: auto; /* Strictly for positioning */
}

.menu-trigger:hover {
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
}

.menu-trigger span {
  font-weight: 700;
  vertical-align: middle;
  font-size: 14px;
  margin: 0 10px;
}

.menu-trigger img {
  border-radius: 90px;
}

.menu {
  background: #ffffff;
  border-radius: 8px;
  position: absolute;
  top: 60px;
  right: 0;
  width: 300px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
}

.menu.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li {
  border-bottom: 1px solid #dddddd;
}

.menu li a {
  text-decoration: none;
  color: #333333;
  padding: 15px 20px;
  display: block;
}


h1 {
  position: absolute;
  top: 43px;
  left: 140px;
  padding: 0;
  margin: 40px;
  font-size: 5em;
  line-height: 0.7em;
  letter-spacing: -6px;
  color: #272730;
}

.picker {
  position: absolute !important;
  top: 74px;
  left: 70px;
  width: 90px !important;
  height: 90px !important;
}